body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #007bff;
}

form {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    right : 40%;

}

.delete-button:hover {
    background-color: #c82333;
}

.products{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    left : 40%;
    text-transform: uppercase;
    color:darkgreen;
}

.inp{
    font-family: 'Sans Serif', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.submit{
    position: relative;
    left : 5%;
    margin-top: 40px;
}